[Unit]
Description=PDU Service
After=network-online.target
Wants=network-online.target
 
[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/bin/bash -c 'USER=$(cat /boot/firmware/rutomatrix_user); exec /home/$USER/PDU/venv/bin/python /home/$USER/PDU/app.py'
Restart=always
RestartSec=3
 
[Install]
WantedBy=multi-user.target
